<html>
    <head>
        <title>{{.title}}</title>
        <nav>
        <a href="/">Home</a>
        <a href="/gins">Gins</a>
        <a href="/gonics">Gonics</a>
        <a href="/mixes">Mixes</a>
        <a href="/prices">Prices</a>
        </nav>
    </head>
    <body>
        <div>
            <img src="/images/gin1.jpeg"/>
            <p>Ólafsson Gin</p>
            <p>Rating: 10/10</p>
        </div>

        <div>
            <img src="/images/gin2.jpeg"/>
            <p>New Amsterdam Gin</p>
            <p>Rating: 8/10</p>
        </div>

        <div>
            <img src="/images/gin3.jpeg"/>
            <p>Kuro Gin</p>
            <p>Rating: 9/10</p>
        </div>
    </body>
</html>