<html>
    <head>
        <title>{{.title}}</title>
        <nav>
        <a href="/">Home</a>
        <a href="/gins">Gins</a>
        <a href="/gonics">Gonics</a>
        <a href="/mixes">Mixes</a>
        <a href="/prices">Prices</a>
        </nav>
    </head>
    <body>
        <p>No data on gonics yet. Come back later.</p>
    </body>
</html>