<html>
    <head>
        <title>{{.title}}</title>
        <nav>
        <a href="/">Home</a>
        <a href="/gins">Gins</a>
        <a href="/gonics">Gonics</a>
        <a href="/mixes">Mixes</a>
        <a href="/prices">Prices</a>
        </nav>
    </head>
    <body>
    <h1>
        Welcome to Biggin's Gin & Gonic library!
    </h1>
    <p>
        See our personal gin ratings and find your new favorite cocktail.
    </p>
    </body>
</html>